################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/net_test_projects/OperationExecutor/.vs
/net_test_projects/OperationExecutor/Operation.Factory/bin
/net_test_projects/OperationExecutor/Operation.Factory/obj
/net_test_projects/OperationExecutor/Operation.Factory.Implement/bin
/net_test_projects/OperationExecutor/Operation.Factory.Implement/obj
/net_test_projects/OperationExecutor/Operation.Factory.Implement2/bin
/net_test_projects/OperationExecutor/Operation.Factory.Implement2/obj
/net_test_projects/OperationExecutor/Operation.WebTest/bin
/net_test_projects/OperationExecutor/Operation.WebTest/obj
/net_test_projects/OperationExecutor/packages
/net_test_projects/OperationExecutor/Operation.WebTest/App_Data
/net_test_projects/DotNettyTest/.vs
/net_test_projects/DotNettyTest/HWL_IM_Client/bin
/net_test_projects/DotNettyTest/HWL_IM_Client/obj
/net_test_projects/DotNettyTest/HWL_IM_Core/bin
/net_test_projects/DotNettyTest/HWL_IM_Core/obj
/net_test_projects/DotNettyTest/HWL_IM_Server/bin
/net_test_projects/DotNettyTest/HWL_IM_Server/obj
/net_test_projects/DotNettyTest/packages
/hw_test_projects/DemoLogin/.idea
*.user
