################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/net_test_projects/OperationExecutor/.vs
/net_test_projects/OperationExecutor/Operation.Factory/bin/Debug
/net_test_projects/OperationExecutor/Operation.Factory/obj/Debug
/net_test_projects/OperationExecutor/Operation.Factory.Implement/bin/Debug
/net_test_projects/OperationExecutor/Operation.Factory.Implement/obj/Debug
/net_test_projects/OperationExecutor/Operation.Factory.Implement2/bin/Debug
/net_test_projects/OperationExecutor/Operation.Factory.Implement2/obj/Debug
/net_test_projects/OperationExecutor/Operation.WebTest/bin
/net_test_projects/OperationExecutor/Operation.WebTest/obj/Debug
/net_test_projects/OperationExecutor/packages
/net_test_projects/OperationExecutor/Operation.WebTest/App_Data
/net_test_projects/DotNettyTest/.vs
/net_test_projects/DotNettyTest/HWL_IM_Client/bin/Debug
/net_test_projects/DotNettyTest/HWL_IM_Client/obj/Debug
/net_test_projects/DotNettyTest/HWL_IM_Core/bin/Debug
/net_test_projects/DotNettyTest/HWL_IM_Core/obj/Debug
/net_test_projects/DotNettyTest/HWL_IM_Server/bin/Debug
/net_test_projects/DotNettyTest/HWL_IM_Server/obj/Debug
/net_test_projects/DotNettyTest/packages
/hw_test_projects/DemoLogin/.idea
