
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p><a href="/home/test" target="_blank">Implement</a></p>
<p><a href="/home/test2" target="_blank">Implement2</a></p>

<p><a href="/home/proxytest" target="_blank">Proxy Implement</a></p>
<p><a href="/home/proxytest2" target="_blank">Proxy Implement2</a></p>
